/*@import-normalize;*/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
@include mq(desktop) {
}

@include mq(tablet) {
}

@include mq(tablet-only) {
}

@include mq(mobile-only) {
}
